name: Release

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.x
    - name: Cross build
      run: make cross
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        name: Release ${{ github.ref_name }}
        artifacts: 'goxz/*'
